body {
    margin-top: 100px;
    background-color: white; 
    font-family: 'Play', sans-serif;
    text-align: center;
}

h1 {
    color: #75EEFF; /*orangered #FF4500*/
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #40577c; /*#656d7a*/
    text-align: center;
    font-size: 50px;
    font-family: 'Righteous', cursive;
}

h2 {
    color:#40577c; /* goldenrod #DAA520*/
    font-size: 32px;
}
h5 {
    position: absolute;
    right: 20px;
    bottom: -8400px;
}
p {
    font-size: 18px;
    color: #656d7a;
}

#header {
    position: absolute;
    top: 0;
    float: right;
    right: 41%;
}

/*Bitcoin Chart*/
.chart {
    margin-left: 375px;
    margin-top: 25px;
    margin-right: 375px;
    background-color: white;
}

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: sticky; /* Set the navbar to fixed position */
    top: 100px; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}