body {
    margin-top: 45px;
    background-color: slategray; /*#778899*/
    font-family: 'Dosis', sans-serif;
}

h1 {
    color: orangered; /*#FF4500*/
    text-align: center;
    font-size: 50px;
}

h2 {
    color:goldenrod; /*#DAA520*/
    font-size: 32px;
}
h5 {
    position: absolute;
    right: 20px;
    bottom: -8400px;
}
p {
    font-size: 18px;
}

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}